# Ignore Python virtual environments
venv/
__pycache__/
*.pyc

# Ignore Django specific files
/media/
staticfiles/

# Ignore environment variables and secrets
.env
*.env

# Ignore SQLite database
*.sqlite3

# Ignore node_modules for React
node_modules/

# Ignore build output for React
build/

# Ignore Docker files and containers
*.log
*.pid
*.swp
docker-compose.override.yml

# Ignore VS Code settings
.vscode/

# Ignore MacOS specific files
.DS_Store

# Ignore JetBrains IDE files
.idea/
*.iml
